$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@font-face {
    font-family: blanchCapsLight;
    src: url(../fonts/BLANCH_CAPS_LIGHT.otf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}


// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$red: #FF0000;

$qd-gray: #999999;

$silver: #BFC0BD;

$gold: #D88F2B;

// $gray-darker:            lighten(#000, 13.5%) !default; // #222
// $gray-dark:              lighten(#000, 20%) !default;   // #333
// $gray:                   lighten(#000, 33.5%) !default; // #555
// $gray-light:             lighten(#000, 46.7%) !default; // #777
// $gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// $brand-primary:         #428bca !default;
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
$brand-warning:         $gold; //#f0ad4e !default;
$brand-danger:          $red; //#d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
// $body-bg:               #fff !default;
// //** Global text color on `<body>`.
// $text-color:            $gray-dark !default;

// //** Global textual link color.
// $link-color:            $brand-primary !default;
// //** Link hover color set via `darken()` function.
// $link-hover-color:      darken($link-color, 15%) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// $font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
// $font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;


//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
// $headings-font-family:    inherit !default;
// $headings-font-weight:    500 !default;
// $headings-line-height:    1.1 !default;
//$headings-color:          inherit !default;


.nopadding {
  padding: 0;
}


h1, h2, h3 {
  font-family: 'Lato';
}

h1 {
  //padding-left: 15px;
}

h2 {
  color: $qd-gray;
}

.content-list {
  padding-left: 25px;

  li {
    list-style: none;
    // font-family: 'Lato';
    font-size: 1.1em;

    .glyphicon {
      padding-right: 10px;
      //font-weight: bold;
      color: $qd-gray;
    }
  }
}

// #home-link {
//   span {
//     font-size: 0.6em;
//   }
// }

.row h1 {
  margin-bottom: 20px;
}

#main-content {
  p { font-size: 16px; }
  .lead { font-size: 21px; }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page-row, .page-row-dark {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-row-dark { background-color: $gray-lighter;}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* Space out content a bit */
html, body {
  width: auto;
  overflow-x: hidden;
}

body {
  //padding-bottom: 30px;
  padding-top: 75px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  font-family: 'Lato-Light', sans-serif;//'Open Sans', sans-serif;
  // font-size: 16px;
}

.container {
  max-width: 1200px !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
header {
  //border-bottom: 1px solid #e5e5e5;
  //margin-bottom: 0 !important;
  background-color: #333;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.finger {
  cursor: pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #fff;
  background-color: #333;
  border-top: 1px solid #e5e5e5;
  height: 100px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  h1 {
    text-align: left;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

#logo {
  width: 280px;
  height: 50px;
}

#top-nav {
  height: 75px;
  padding-bottom: 5px;
}

.navbar-inverse .navbar-nav {
  li {
    // font-family: blanchCapsLight;
    font-size: 1.1em;
    font-weight: 700;
    a {
      color: #fff;
    }
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  //border-color: transparent;
  text-align: right;
}

.navbar-collapse {
  .navbar-nav {
    background-color: rgba(0,0,0,.7);
    margin: 0 -15px;

    li {
      //padding-right: 15px;
    }
  }
}

#home-canvas, #hero-area {
  display: block;
  width: 100%;
}

#home-canvas {
  background-color: #000;
}

#hero-area {
  background-color: #fff;
}

div.navbar-header {
  height: 75px;
}

button.navbar-toggle {
  margin-top: 20px;
}
.special-notation {
  font-size: .8em !important;
  color: $gray-light;
}

/* ### Responsive: Portrait tablets and up ### */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  #logo {
    width: 308px;
    height: 77px;
  }

  #top-nav {
    height: 100px;
    padding-bottom: 10px;
  }

  .navbar-collapse {
    .navbar-nav {
      background-color: rgba(255,255,255,0);
      margin-top: 25px;
    }

  .navbar-nav {
    box-sizing: border-box;
    li {
      background-color: transparent;
      a {
        color: #fff;
        padding-top: 10px;
      }
    }
    li:last-child {border-right: none;}

    li:hover {
        transition: background-color 0.25s;
        background-color: $red; //$gray-dark;
      }
    }
  }
  #home-canvas, #hero-area {
    height: 400px;
    div img { margin-top: 1em;}
  }
  .tech-icon { height: 36px;}

  .modal-dialog {
    width: 70%;
  }
} // min-width 768px

@media screen and (max-width: 1200px) {
  #home-canvas, #hero-area {
    div img { margin-top: 4.5em;}
  }

}

@media screen and (max-width: 768px) {
  #home-canvas, #hero-area {
    height: 300px;

    div img { margin-top: 4em;}
  }

  .navbar-nav {
    li:hover {
        transition: background-color 0.25s;
        background-color: $red; //$gray-dark;
    }
  }
  .tech-icon { height: 18px;}

} // max 768px

@media screen and (max-width: 490px) {
  #logo {
    width: 224px;
    height: 40px;
  }
  #home-canvas, #hero-area {
    height: 200px;

    div img { margin-top: 2em;}
  }
}

.projects {
  margin-bottom: 20px;
}










