<div id="hero-area" class="heroImage">
  <div class="container">
    <img class="img-responsive" ng-src="{{heroImage}}" alt="Contact Qumani Designs" />
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p class="lead">
      {{leadParagraph}}
    </p>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>
<div class="row page-row">
  <div class="container">
    <div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
      <h2>{{contactSection.title}}</h2>
      <h3>Call Us: 415.658.5150</h3>
      <h3>Email Us: info@qumani.com <small>or the form below.</small></h3>
      <br />
      <hr />
      <form role="form"  method="post" name="contactForm" ng-submit="submitForm()">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="name" name="name" class="form-control" id="nameInput" placeholder="Enter Full Name">
        </div>
        <div class="form-group">
          <label for="emailAddress">Email address</label>
          <input type="email" class="form-control" id="emailAddress" placeholder="Enter your email" name="email">
        </div>
        <div class="form-group">
          <label for="website">Current Website</label>
          <input type="website" class="form-control" id="websiteURL" placeholder="Website address" name="website">
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="subject" class="form-control" id="msgSubject" placeholder="Message Subject" name="subject">
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" rows="3" type="website" id="webmailMessage" placeholder="Please type your message." name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-warning pull-right" value="Send!" name="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  // message window width adjustment
  document.querySelector('#webmailMessage').style.maxWidth = '100%';
  // Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5042855-1');
    ga('require', 'displayfeatures');
    ga('send', 'pageview', {
      'page': '/contact',
      'title': 'contact'
  });
  // === Form Controller === //

  // create angular controller and pass in $scope and $http
  app.controller('FormController',function($scope, $http) {

    $scope.submitForm = function() {
      $http({
      method : 'POST',
      url : 'http://www.qumani.com/webformmailer.php',
      data : param($scope.formData), // pass in data as strings
      headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
      })
     };
  });
</script>


