<canvas id="home-canvas" data-ng-controller="HeroCtrl" data-ng-init="init('heroAnimation')"></canvas>
<!-- <div class="hero-overlay">
  <h3>test</h3>
</div> -->

<div class="jumbotron">
  <div class="container">
    <p class="lead">
      {{leadParagraph}}
    </p>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>
<div class="row" ng-repeat="section in indexSections"
      ng-class-odd="'page-row'"
      ng-class-even="'page-row-dark'">
  <div class="container">
    <div class="col-sm-6 col-xs-12" ng-class-even="'col-sm-push-6'">
      <img ng-src="{{section.image}}" class="img-responsive">
    </div>
    <div class="col-sm-6 col-xs-12" ng-class-even="'col-sm-pull-6'">
      <h2>{{section.title}}</h2>
      <p>{{section.content}}</p>
      <p>
        <ul class="content-list">
          <li ng-repeat="service in section.services">
            <span class="glyphicon glyphicon-check"></span> {{service}}
          </li>
        </ul>
      </p>
      <p>&nbsp;</p>
      <p><a class="btn btn-md btn-warning" ng-href="{{section.buttonLink}}" ng-class-odd="pull-right" ng-class-even="pull-left">{{section.button}} <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-5042855-1');
 ga('require', 'displayfeatures');
  ga('send', 'pageview', {
  'page': '/',
  'title': 'index'
});
</script>

