<div id="hero-area" class="heroImage">
  <div class="container">
    <img class="img-responsive" ng-src="{{heroImage}}" alt="Contact Qumani Designs" />
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <p class="lead">
      {{leadParagraph}}
    </p>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <!-- <h1>{{title}}</h1> -->
    </div>
  </div>
</div>

<div class="row" ng-repeat="section in portfolioSections"
      ng-class-odd="'page-row'"
      ng-class-even="'page-row-dark'">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{section.title}}</h2>
        <p>{{section.content}}</p>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 projects" ng-repeat="project in section.projects">
        <h4>{{project.title}}</h4>
        <img ng-src="{{project.image}}" class="img-responsive finger" data-toggle="modal" data-target="#{{project.id}}">

        <!-- Modal -->
        <div class="modal fade" id="{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{project.title}}&nbsp;&nbsp;|&nbsp;&nbsp;<small>{{project.month}}&nbsp;/&nbsp;{{project.year}}</small></h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                    <img ng-src="{{project.image}}" class="img-responsive" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1">
                    <p>&nbsp;</p>
                    <p>{{project.description}}</p>
                    <p class="special-notation">{{project.specialNotation}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <ul class="list-inline pull-left">
                  <li class="hidden-sm hidden-xs">Built With:</li>
                  <li ng-repeat="tech in project.technologies">
                    <img ng-src="images/portfolio/tech-icons/{{tech}}.svg" alt="{{tech}}" class="tech-icon" />
                  </li>
                </ul>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-5042855-1');
 ga('require', 'displayfeatures');
  ga('send', 'pageview', {
  'page': '/portfolio',
  'title': 'portfolio'
});
</script>








