<div id="hero-area" class="heroImage">
  <div class="container">
    <img class="img-responsive" ng-src="{{heroImage}}" alt="About Qumani Designs" />
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p class="lead">
      {{leadParagraph}}
    </p>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>
<div class="row" ng-repeat="section in servicesSections"
      ng-class-odd="'page-row'"
      ng-class-even="'page-row-dark'">
  <div class="container">
    <div class="col-sm-6 col-xs-12" ng-class-even="'col-sm-push-6'">
      <img ng-src="{{section.image}}" class="img-responsive">
    </div>
    <div class="col-sm-6 col-xs-12" ng-class-even="'col-sm-pull-6'">
      <h2>{{section.title}}</h2>
      <p>{{section.content}}</p>
      <ul class="content-list">
        <li ng-repeat="item in section.list">
          <span class="glyphicon glyphicon-check"></span>{{item}}
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-5042855-1');
 ga('require', 'displayfeatures');
  ga('send', 'pageview', {
  'page': '/services',
  'title': 'services'
});
</script>

