<div id="hero-area" class="heroImage">
  <div class="container">
    <img class="img-responsive" ng-src="{{heroImage}}" alt="Contact Qumani Designs" />
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <p class="lead">
      {{leadParagraph}}
    </p>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <!-- <h1>{{title}}</h1> -->
    </div>
  </div>
</div>
<div class="row page-row">
  <div class="container">
    <div class="col-md-8 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12"></div>
  </div>
</div>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-5042855-1');
 ga('require', 'displayfeatures');
  ga('send', 'pageview', {
  'page': '/thankYou',
  'title': 'thankYou'
});
</script>



